body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Press Start 2P", cursive;
}

.title {
  margin: 0 auto;
}

.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
}

.social {
  height: 80px;
}

.social__link {
  display: block;
  cursor: pointer;
  transition:box-shadow .2s ease-in-out;
}

.social__link:hover {
  box-shadow: 0px 10px 14px -7px #e2c2c2;
}

.intro {
  width: 90%;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.intro__content {
  flex: 36%;
  padding-right: 50px;
  text-align: center;
}

.intro__link {
  display: block;
  color: #3f757a;
  transition: opacity .2s ease-in-out;
}

.intro__link:hover {    
  opacity: .9;
}

.title {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
}

.description {
  line-height: 1.5;
}

.link {
  background: #84c9cf;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color:#ffffff;
  font-size: 20px;
  padding: 13px 32px;
  text-decoration: none;
  margin: 30px;
  transition: box-shadow, opacity .2s ease-in-out;
}

.link:hover {    
  opacity: .9;
  box-shadow: 0px 10px 14px -7px #e2c2c2;
}

.img {
  flex: 50%;
  transform: translateY(-18%)
}

img {
  width: 100%;
}

footer {
  text-align: center;
}

@media (max-width: 1024px) {

  .intro {
      margin-top: 50px;
      flex-direction: column;
  }

  .intro__content {
      padding-right: 0;
  }

  .img {
      transform: translateY(0)
  }
}